<!-- Validation failure messages -->
<% if @group_order.errors.any? %>
  <% @group_order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @group_order.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_group_order/<%= @group_order.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for order name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Order name
        </label>

        <input type="text" id="name" name="name" placeholder="Order name" class="form-control" value="<%= @group_order.name %>">
      </div>

      <!-- Label and input for restaurant name -->
      <div class="form-group">
        <label for="restaurant" class="control-label">
          Restaurant
        </label>
        
        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @group_order.restaurant_id), :class => "form-control") %>
        
        <p><a href="/restaurants/new">Create a new restaurant</a></p> 

      </div>

      <!-- Label and input for order description (name) -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Special comments
        </label>

        <input type="text" id="comment" name="comment" placeholder="Keep any special notes, like whether anyone skipped lunch or if you had a coupon" class="form-control" value="<%= @group_order.comment %>">
      </div>

      <button class="btn btn-warning">
        Update Group Order
      </button>
      or
      <a href="/group_orders/<%= @group_order.id %>">Cancel</a>
    </form>
  </div>
</div>
