<!-- Validation failure messages -->
<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>New Order from <%= @order.restaurant.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Input for hidden group order id -->
      <input type="hidden" name="group_order_id" value="<%= @order.group_order_id %>">
      
      <!-- Input for hidden user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      
      <!-- Input for hidden restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @order.restaurant_id %>">
      
      <!-- Input for hidden menu_id -->
      <input type="hidden" name="menu_id" value="<%= @order.menu_id %>">

      <!-- Label and input for dish_id -->
      <div class="form-group">
        <label for="dish_id" class="control-label">
          Dish
        </label>
        
        <%= select_tag(:dish_id, options_from_collection_for_select(Dish.where(:menu_id => @order.menu_id), :id, :name), :class => "form-control", :include_blank => true) %>

      </div>

      <!-- Label and input for user_comment -->
      <div class="form-group">
        <label for="user_comment" class="control-label">
          Special directions
        </label>

        <input type="text" id="user_comment" name="user_comment" placeholder="Add any special instructions" class="form-control">
      </div>

      <button class="btn btn-success">
        Create Order
      </button>
      or
      <a href="/group_orders/<%= @order.group_order_id %>">Cancel</a>
    </form>
  </div>
</div>
