<div class="page-header">
  <h3><%= @restaurant.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Cuisine</dt>
      <dd><%= @restaurant.cuisine.name %></dd>

    </dl>
  </div>
</div>
    
<div class="row">
  <div class="col-md-12 mb-2">
    <h3>
      Menus
    </h3>
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      
      <% @restaurant.menus.each do |menu| %>
      <tr>
        <td><a href="/menus/<%= menu.id %>">
              <%= menu.name %>
            </a></td>
        <td>
          <a href="/menus/<%= menu.id %>" class="btn btn-primary">Show</a>
          <a href="/menus/<%= menu.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_menu/<%= menu.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="page-header">
  <h3>Add Menu</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_menu" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Input for hidden menu id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">


      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Menu name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control">
      </div>

      <button class="btn btn-success">
        Create Menu
      </button>
    </form>
    </br>
  </div>
</div>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
</div>
